<li>
    {{ title }} {{ description }}
    <input type="checkbox" name="all" checked value="1"/>
    <input type="checkbox" name="create" value="1" />
    <input type="checkbox" name="edit" value="1"/>
    <input type="checkbox" name="dete" checked value="1"/>
    <input type="checkbox" name="edit" value="1"/>
</li>