<div>

    <nav class="navbar">
        <ul class="right-nav-list list-inline">

            <li>
                <a class="right-btn btn btn-sm btn-default-grey active" data-component="layout">
                   Right on layouts
                </a>
            </li>

            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="workflow">
                    Right on workflow
                </a>
            </li>

            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="pages">
                     Right on pages
                </a>
            </li>

            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="blocks">
                    Right on blocks
                </a>
            </li>

             <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="extensions">
                    Right on extensions
                </a>
            </li>

             <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="users">
                    Right on users
                </a>
            </li>

            <li>
                <a class="right-btn btn btn-sm btn-default-grey" data-component="media">
                    Right on media
                </a>
            </li>

        </ul>
    </nav>

    <div id="mainContainer" style="width:auto; height: 500px;"></div>

</div>